<h1 class="title">Register</h1>

<%= form_for(@user,:html => {:id => "signup"}) do |f| %>
<table>
	<tr>
<td>
First Name: 
</td>
<td>

</td>
<td>
Last Name:
</td>
<td>

</td>
	</tr>
	<tr>
<td>
Email:
</td>
<td>

</td>
<td>
Address:
</td>
<td>

</td>
	</tr>
	<tr>
<td>
Password:
</td>
<td>

</td>
<td>
Phone No.:
</td>
<td>

</td>
	</tr>
	<tr>
<td>
Verify Password:
</td>
<td>

</td>
<td>
Verify Password:
</td>
<td>

</td>
	</tr>

</table>
<% end %>